.container{
  display:flex;
}

.box {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.row > div {
  flex-basis: calc(32% - 40px);
}
